.carousel{
    height: 450px;
    background-color: gray;
}

.API-Facebook {
    background-color: lightgrey;
}

h1{
    font-size: 35px;
    text-align: center;
    color: #42A5F5;
}

.overflow {
    overflow: auto;
    overflow-x: scroll;
    /* Hide horizontal scrollbar */
    overflow-y: hidden;
    /* Add vertical scrollbar */
    -webkit-overflow-scrolling: touch;
}

html {
    scroll-behavior: smooth;
}