* {
    box-sizing: border-box
}

html {
    scroll-behavior: smooth;
    display: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    h1 {
        margin-top: 0.9em;
        font-size: 1.7em;
        font-weight: bold;
        text-align: center;
        color: #42A5F5;
        text-transform: uppercase;
    }
}

//Título dos Cartões 'Sobre Nós'
.card-title {
    font-size: 1.5em !important;
}

//Tamanho da Logo
#footer-logotipo {
    height: 1.7em !important;
}

// Carousel
.carousel-item {
    .image-carousel {
        height: 85vw;
    }
}


//  Equipe
.card {
    flex: 0 0 auto;
    .card-size {
        font-family: 'Poppins', sans-serif;
    }
    .card-image {
        img {
            height: 13.5em;
            width: 14.5em;
        }
    }
}


.equipe-overflow {
    height: 20.7em;
    .equip-but {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 20.7em;
    }
    .scroll {
        width: auto;
        -webkit-overflow-scrolling: touch;
        display: flex;
        flex-wrap: nowrap;
        overflow: none;
        overflow-x: auto;
        white-space: nowrap;
        scroll-behavior: smooth;
        span{
            font-size: 2vw !important; 
        }
        p {
            font-size: 1vw !important;
        }
        img {
            width: 100%;
        }
        &::-webkit-scrollbar {
            display: visible;
        }
  }
}


//Personalizando o formulário

/* label focus color */

.input-field input[type=text]:focus+label {
    color: #1e88e5;
}


/* label underline focus color */

.input-field input[type=text]:focus {
    border-bottom: 1px solid #1e88e5;
    box-shadow: 0 1px 0 0 #1e88e5;
}


/* valid color */

.input-field input[type=text].valid {
    border-bottom: 1px solid #1e88e5;
    box-shadow: 0 1px 0 0 #1e88e5;
}


/* invalid color */

.input-field input[type=text].invalid {
    border-bottom: 1px solid #1e88e5;
    box-shadow: 0 1px 0 0 #1e88e5;
}

.horario{
    color: red !important;
}
//Redes Sociais
#titulo-social {
    margin-top: 6vw;
}

#outras-redes {
    font-size: 2vw;
    color: #42A5F5;
    font-weight: 27vw;
    margin: 0;
}

#facebook {
    padding-bottom: 2em;
}

.fb-page {
    height: 38em;
}

#redes-sociais {
    display: flex;
    align-items: center;
    justify-content: center;
    a {
        padding: 0px 0.2em 0px;
        text-decoration: none;
        color: #555555;
        font-size: 4em;
        justify-content: space-between;
        transition: ease-in-out .5s;
    }
}

#instagram:hover {
    color: #F44747;
}

#youtube:hover {
    color: #FF0000;
}

#twitter:hover {
    color: #1DA1F2;
}




/*M E D I A  Q U E R Y  B R E A K  P O I N T S
*******************************************************************************************************************/

@media only screen and (min-width: 992px){


.carousel-item {

    .image-carousel {
        height: 40em;
    }

}

.fb-page {
    height: 20em;
}

#redes-sociais a {
    text-decoration: none;
    color: #555555;
    font-size: 12vw;
    transition: ease-in-out .5s;
}


}
